# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Python packaging
build/
dist/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# PyBullet recordings
*.mp4
*.gif

# TensorBoard
runs/

# Environment variables
.env